body
{
    /*background-color: #ffffff;*/
    margin: 0;
    padding: 0;
    /*font-size: 18px;*/
    line-height: 150%;
}

#name
{
    float: left;
    width: 50%;
    /*padding-bottom: 50%;*/
}

h1
{
    text-align: center;
    width: 225px;
    color: #efeee7; 
    background-color: #4aaaa5;
    margin-left: 24%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 28px;
    padding-bottom: 28px;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 24px;
}

#nav-1
{
    float: left;
    width: 40%;
}

#selection li
{
    list-style-type: none; /*remove bullet that appears in list*/
    width: 5em;
    text-align: center;
    float: left;
}

#selection a
{
    text-decoration: none; /*remove underline that goes with links*/
    color: #777777;
    display: block; /*entire button becomes clickable, not just text*/
}

#selection a:hover
{
    border: 2px blue inset;
}

.container
{
    clear: both;
    background-image: url("../images/white_sand.png");
    padding-top: 3%;
    width: 1240px;
    height: 900px;
    margin-left: 1%;
    border-bottom: 10px solid #4aaaa5;
    border-top: 2px solid lightgrey;
}

.section-header-text
{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 4%;
    color: #4aaaa5;
    font-size: 27px;
    border-bottom: 2px solid lightgrey; 
}

.about-me-text
{
    margin-right: 4%;  
}

.contact-text
{
    margin-right: 5%;   
}

.portfolio-text
{
    margin-right: 4%;  
}

#about-me-image
{
    float: left;
    margin-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

.paragraph
{
    color: #777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 4%;
    margin-right: 4%;
}

#connect-with-me-text
{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 10%;
    margin-left: 8%;
    color: #4aaaa5;
    font-size: 24px;
    border-bottom: 2px solid lightgrey;    
}

.section
{
    float: left;
    background-color: #ffffff;
    margin-left: 11.5%;
}

.about-me-section
{
    width: 47%;
    height: 897px; 
}

.contact-section
{
    width: 50.6%;
    height: 640px;
}

.portfolio-section
{
    width: 49%;
    height: 870px;
}

.github-img
{
    width: 75px;
    height: auto;
    position: absolute;
}

.github-img-about-me
{
    left: 795px;
    top: 217px;
}

.social-icon-img
{
    width: 66px;
    height: auto;
    position: absolute;
}

.linkedin-img-about-me
{
    left: 875px;
    top: 222px;
}

.stackoverflow-img-about-me
{
    left: 951px;
    top: 222px;
}

.github-img-portfolio
{
    left: 818px;
    top: 217px;
}

.linkedin-img-portfolio
{
    left: 899px;
    top: 222px;
}

.stackoverflow-img-portfolio
{
    left: 977px;
    top: 222px;
}

.github-img-contact
{
    left: 838px;
    top: 217px;
}

.linkedin-img-contact
{
    left: 920px;
    top: 222px;
}

.stackoverflow-img-contact
{
    left: 997px;
    top: 222px;
}

#connect-with-me-section
{
    float: left;
    background-color: #ffffff;
    width: 22%;
    height: 222px;
    margin-left: 3%;
}

.game-text
{
    width: 227px;
    height: 30px;
    border: none;
    text-align: center;
    padding: 0.8em;
    margin-left: 2%;
    background-color: #4aaaa5;
    color: whitesmoke;
    font-size: 24px;
    position: absolute;
}

.hangman-text
{
    left: 156px;
    top: 357px;
}

.rpg-game-text
{
    left: 443px;
    top: 358px;
}

.trivia-game-text
{
    left: 152px;
    top: 609px;
}

.rutgers-info-widget-text
{
    left: 443px;
    top: 609px;
}

.rock-paper-scissors-text
{
    left: 152px;
    top: 862px;
}

.game-img
{
    margin-left: 2%;
    width: 265px;
    height: auto;
    position: absolute;
}

.rpg-game-img
{
    left: 443px;
    top: 259px;
}

.trivia-game-img
{
    left: 152px;
    top: 511px;
}

.rutgers-info-widget-img
{
    left: 443px;
    top: 511px;
}

.rock-paper-scissors-img
{
    left: 152px;
    top: 765px;
}

fieldset
{
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: none;
}

label
{
    color: #777777;
    font-size: 20px;
}

#textField
{
    width: 565px;
    height: 29px;
    color: #777777;
    font-size: 15px;
}

#textBoxArea
{
    width: 565px;
    height: 194px;
    color: #777777;
    font-size: 15px;
}

#button-1
{
    width: 116px;
    height: 40px;
    color: #efeee7; 
    background-color: #4aaaa5;
    border: none;
    font-size: 18.5px;
}

#footer
{
    clear: both;
    padding-top: 35px;
    text-align: center;
    color: whitesmoke;
    background-color: #666666;
    width: 1240px;
    height: 60px;
    margin-left: 1%;
}